# 这个配置专门用于排除不需要打包进 Docker 镜像的“垃圾文件”，保持镜像极简！

# 1. 开发相关的包不用打包
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 2. 局部和本地环境不打包进镜像，Docker 运行时会由 compose 注入
.env*.local
.env

# 3. Next.js 的本地缓存和构建不用打包 (我们会在 Docker 里重新 build)
.next
out
build

# 4. 其他没用的东西
.git
.vscode
.DS_Store

# 5. 核心原则：忽略你庞大的音频文件夹！
# 这样不仅加速 Build，还能让 Docker 镜像控制在很小的体积。我们会通过挂载卷来读取它。
public/Cambridge*
public/uploads*
